<div class="header-content">
  <div class="header_logo"></div>
  <div class="town_info">
    <ul class="where">
      <li class="town">Ваш город?</li>
      <li class="dropdown"></li>
    </ul>
  </div>
  <div class="phone">
    <ul class="number">
      <li>+38 (050) 123 45 67</li>
      <li>+38 (093) 123 45 67</li>
      <li>+38 (067) 123 45 67</li>
    </ul>
  </div>
  <div class="search">
    <form class="form-inline md-form form-sm">
      <input class="form-control form-control-sm mr-3 w-75" type="text" placeholder="Search"
        aria-label="Search">
      <i class="fas fa-search" aria-hidden="true"></i>
    </form>
  </div>
  <div class="busket">
    <div class="busket_img"></div>
  </div>
</div>
