<div class="top-nav">
  <div class="nav-items">
    <a href="#">Новости</a>
    <a href="#">О магазине</a>
    <a href="#">Оплата и доставка</a>
    <a href="#">Отзывы</a>
    <a href="#">Распродажа</a>
    <span class="sign">
      <a href="#">sign in</a>
      <span class="slash"> / </span>
      <a href="#">sign up</a>
      <div class="sign-icon"></div>
    </span>
    <ul class="language_select">
      <li class="l_option">eng <i class="fas fa-chevron-down"></i>
        <ul class="language_options">
          <li>rus</li>
          <li>ukr</li>
        </ul>
      </li>
    </ul>
  </div>
</div>