<!-- <div class="wrapper">
  <div class="header">
    <div class="header_image"></div>
    <div class="header_top">
      <div class="header_content">
        <ul class="content">
          <li class="cont">Новости</li>
          <li class="cont">О магазине</li>
          <li class="cont">Оплата и доставка</li>
          <li class="cont">Отзывы</li>
          <li class="sale">Распродажа</li>
        </ul>
        <div class="login">
          <div class="log_image"></div>
          <h5 class="log">Вход</h5>
        </div>
        <div class="language">
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  RU
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item" href="#">ENG</a>
                </div>
              </div>
        </div>
      </div>
    </div>
    <div class="header_search">
      <div class="logo"></div>
      <div class="header_town">
        <h4 class="town_queschio"></h4>
        <div class="town_dropdown">
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-town" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Киев
                </button>
                <div class="dropdown-town" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-town" href="#">Винница</a>
                  <a class="dropdown-town" href="#">Львов</a>
                  <a class="dropdown-town" href="#">Одесса</a>
                </div>
              </div>
        </div>
      </div>
      <div class="header_number">
        <ul class="number">
          <li>+38 (050) 123 45 67</li>
          <li>+38 (093) 123 45 67</li>
          <li>+38 (067) 123 45 67</li>
        </ul>
      </div>
      <div class="header_search">
        <p><input type="search" class="input" placeholder="Search your travel Destination">
        <input type="submit" class="button_search" value="Search"></p>
      </div>
      <div class="header_basket">

      </div>
    </div>
    <div class="header_dropdown">
      <!--Dropdown-->
    <!-- </div>
    <h3 class="header_title">Рюкзаки со скидкой</h3>
    <div class="borderbox">
      <h3 class="minus">до</h3>
    </div>
    <h2 class="header_price">50%</h2>
    <div class="button">
      <h3 class="button_name">Подробнее</h3>
    </div>
    <div class="button_number">
      <h3 class="button_number">1/3</h3>
    </div>
  </div>
  <div class="body_pages">
    <div class="bycikle">
      <header class="header_bycikle">Велосипеды</header>
      <footer class="footer_bycikle">От 7000,00 грн.</footer>
    </div>
    <div class="tent">
      <header class="header_tent">Палатки</header>
      <footer class="footer_tent">От 4000,00 грн.</footer>
    </div>
    <div class="bags">
      <header class="header_bags">Рюкзаки</header>
      <footer class="footer_bags">От 1500,00 грн.</footer>
    </div>
    <div class="slider">
      <div class="slider_item slide_one"></div>
      <div class="slider_two slide_one"></div>
      <div class="slider_three slide_one"></div>
      <div class="slider_item slide_one"></div>
      <div class="slider_two slide_one"></div>
      <div class="slider_three slide_one"></div>
      <div class="slider_item slide_one"></div>
      <div class="slider_two slide_one"></div>
      <div class="slider_three slide_one"></div>
    </div> -->
    <!--$('.slider_holder').slick({
  dots: true,
  arrows: false,
  infinite: true,
  speed: 500,  
  autoplay: true,
  autoplaySpeed: 4000
});-->
  <!-- <div class="bags_slider">
    <div class="slider_item slide_one">
      <p class="bag_name"></p>
      <p class="price"></p>
      <div class="button_buy" id="buttom">
        <h4 class="buy">Купить</h4>
      </div>
    </div>
    <div class="slider_item slide_two">
      <p class="bag_name"></p>
      <p class="price"></p>
      <div class="button_buy" id="buttom">
        <h4 class="buy">Купить</h4>
      </div>
    </div>
    <div class="slider_item slide_three">
      <p class="bag_name"></p>
      <p class="price"></p>
      <div class="button_buy" id="buttom">
        <h4 class="buy">Купить</h4>
      </div>
    </div>
    <div class="slider_item slide_four">
      <p class="bag_name"></p>
      <p class="price"></p>
      <div class="button_buy" id="buttom">
        <h4 class="buy">Купить</h4>
      </div>
    </div>
    <div class="slider_item slide_one">
      <p class="bag_name"></p>
      <p class="price"></p>
      <div class="button_buy" id="buttom">
        <h4 class="buy">Купить</h4>
      </div>
    </div>
    <div class="slider_item slide_two">
      <p class="bag_name"></p>
      <p class="price"></p>
      <div class="button_buy" id="buttom">
        <h4 class="buy">Купить</h4>
      </div>
    </div>
    <div class="slider_item slide_three">
      <p class="bag_name"></p>
      <p class="price"></p>
      <div class="button_buy" id="buttom">
        <h4 class="buy">Купить</h4>
      </div>
    </div>
    <div class="slider_item slide_four">
      <p class="bag_name"></p>
      <p class="price"></p>
      <div class="button_buy" id="buttom">
        <h4 class="buy">Купить</h4>
      </div>
    </div>
    <!--JS-->
  <!-- </div>
  <ul class="fold">
    <li class="pages"></li>
    <li class="pages"></li>
    <li class="pages"></li>
  </ul>
  <div class="news">
    <div class="news_tent">
      <p class="news_text_title">Как выбрать туристическую палатку</p>
      <p class="news_text">Незаменимой вещьо для кемпинга, конечно же, является палатка. На современном рынке предоставлено огромное количество моделей</p>
    </div>
    <div class="news_car">
      <p class="news_text_title">Как выбрать туристическую палатку</p>
      <p class="news_text">Незаменимой вещьо для кемпинга, конечно же, является палатка. На современном рынке предоставлено огромное количество моделей</p>
    </div>
    <div class="news_mountings">
      <p class="news_text_title">Как выбрать туристическую палатку</p>
      <p class="news_text">Незаменимой вещьо для кемпинга, конечно же, является палатка. На современном рынке предоставлено огромное количество моделей</p>
    </div>
    <div class="news_tourism">
      <p class="news_text_title">Как выбрать туристическую палатку</p>
      <p class="news_text">Незаменимой вещьо для кемпинга, конечно же, является палатка. На современном рынке предоставлено огромное количество моделей</p>
    </div>
  </div>
  </div>
  <footer>
    <div class="footer_left">
      <img class="footer_logo">
      <p class="footer_phone">+38 (050) 123-45-67</p>
      <p class="footer_phone">+38 (093) 123-45-67</p>
      <p class="footer_place">Украина, г.Винница</p>
      <p class="footer_place">ул. Соборная, дом 51</p>
      <p class="designer">Design by Alex Pronin</p>
    </div>
    <div class="vertical_line"></div>
    <div class="footer_left">
      <div class="top">
        <h3 class="footer_title">Популярные категории</h3>
        <p class="footer_list">Зарядные устройства</p>
        <p class="footer_list">Газовые горелки</p>
        <p class="footer_list">Фонари</p>
        <p class="footer_list">Палатки</p>
        <p class="footer_list">Страховочные системы</p>
      </div>
      <div class="low">
        <h3 class="footer_title">
          <!--dropdown-->
        <!-- </h3>
      </div>
    </div>
    <div class="footer_center">
      <h3 class="footer_title">Сервисы и помощь</h3>
      <p class="footer_list">Оплата и доставка</p>
      <p class="footer_list">Материлы и технологии</p>
      <p class="footer_list">Условия возврата и гарантия</p>
    </div>
    <div class="footer_right">
      <h3 class="footer_title">о компании</h3>
      <p class="footer_list">О нас</p>
      <p class="footer_list">Партнерам</p>
      <p class="footer_list">Бренды</p>
      <p class="footer_list">Контакты</p>
    </div>
    <div class="footer_social">
      <p class="footer_facebook"></p>
      <p class="footer_youtube"></p>
      <p class="footer_twitter"></p>
      <p class="footer_instagram"></p>
    </div>
  </footer>
</div>  -->














<!-- <div class="wrapper">
  <div class="header">
    <div class="header_top">
      
      <div class="top_line">
        <div class="top_title"></div>
        <div class="top_title"></div>
        <div class="top_title"></div>
        <div class="top_title"></div>
        <div class="top_title top_sale"></div>
      </div>
      <div class="top_login">
        <div class="login">
          <div class="log_img"></div>
          <h5 class="log"></h5>
        </div>
        <div class="lang_drop">
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            RU
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="#">ENG</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="header_middle">
      <div class="logo"></div>
      <div class="your_town">
        <h5 class="town"></h5>
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-town" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Киев
          </button>
          <div class="dropdown-town" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-town" href="#">Винница</a>
            <a class="dropdown-town" href="#">Львов</a>
            <a class="dropdown-town" href="#">Одесса</a>
          </div>
        </div>
      </div>
    </div>
    <div class="header_low"> -->
      <!-- DROPDOWN -->
    <!-- </div>
  </div>
  <div class="low_header">
    <h3 class="low_title"></h3>
    <div class="minus"><h4>-</h4></div>
    <h3 class="50">50%</h3>
  </div>
  <div class="categories">
    <div class="bycicle">
      <div class="bycicle_top"></div>
      <div class="bycicle_footer"></div>
    </div>
    <div class="tent">
      <div class="tent_top"></div>
      <div class="tent_footer"></div>
    </div>
    <div class="bags">
      <div class="bags_top"></div>
      <div class="bags_footer"></div>
    </div>
    <div class="sponsor_slider">
      <div class="slider_item slide_one"></div>
      <div class="slider_two slide_one"></div>
      <div class="slider_three slide_one"></div>
      <div class="slider_item slide_one"></div>
      <div class="slider_two slide_one"></div>
      <div class="slider_three slide_one"></div>
      <div class="slider_item slide_one"></div>
      <div class="slider_two slide_one"></div>
      <div class="slider_three slide_one"></div>
    </div>
    <div class="slider"> -->
      <!-- vkladki -->
      <!-- <div class="bags_slider">
        <div class="slider_item slide_one">
          <p class="bag_name"></p>
          <p class="price"></p>
          <div class="button_buy" id="buttom">
            <h4 class="buy">Купить</h4>
          </div>
        </div>
        <div class="slider_item slide_two">
          <p class="bag_name"></p>
          <p class="price"></p>
          <div class="button_buy" id="buttom">
            <h4 class="buy">Купить</h4>
          </div>
        </div>
        <div class="slider_item slide_three">
          <p class="bag_name"></p>
          <p class="price"></p>
          <div class="button_buy" id="buttom">
            <h4 class="buy">Купить</h4>
          </div>
        </div>
        <div class="slider_item slide_four">
          <p class="bag_name"></p>
          <p class="price"></p>
          <div class="button_buy" id="buttom">
            <h4 class="buy">Купить</h4>
          </div>
        </div>
        <div class="slider_item slide_one">
          <p class="bag_name"></p>
          <p class="price"></p>
          <div class="button_buy" id="buttom">
            <h4 class="buy">Купить</h4>
          </div>
        </div>
        <div class="slider_item slide_two">
          <p class="bag_name"></p>
          <p class="price"></p>
          <div class="button_buy" id="buttom">
            <h4 class="buy">Купить</h4>
          </div>
        </div>
        <div class="slider_item slide_three">
          <p class="bag_name"></p>
          <p class="price"></p>
          <div class="button_buy" id="buttom">
            <h4 class="buy">Купить</h4>
          </div>
        </div>
        <div class="slider_item slide_four">
          <p class="bag_name"></p>
          <p class="price"></p>
          <div class="button_buy" id="buttom">
            <h4 class="buy">Купить</h4>
          </div>
        </div>
    </div>
    <div class="news">
      <div class="news_tent">
        <p class="news_text_title">Как выбрать туристическую палатку</p>
        <p class="news_text">Незаменимой вещьо для кемпинга, конечно же, является палатка. На современном рынке предоставлено огромное количество моделей</p>
      </div>
      <div class="news_car">
        <p class="news_text_title">Как выбрать туристическую палатку</p>
        <p class="news_text">Незаменимой вещьо для кемпинга, конечно же, является палатка. На современном рынке предоставлено огромное количество моделей</p>
      </div>
      <div class="news_mountings">
        <p class="news_text_title">Как выбрать туристическую палатку</p>
        <p class="news_text">Незаменимой вещьо для кемпинга, конечно же, является палатка. На современном рынке предоставлено огромное количество моделей</p>
      </div>
      <div class="news_tourism">
        <p class="news_text_title">Как выбрать туристическую палатку</p>
        <p class="news_text">Незаменимой вещьо для кемпинга, конечно же, является палатка. На современном рынке предоставлено огромное количество моделей</p>
      </div>
    </div>
  </div>
  <footer>
    <div class="footer_left">
      <img class="footer_logo">
      <p class="footer_phone">+38 (050) 123-45-67</p>
      <p class="footer_phone">+38 (093) 123-45-67</p>
      <p class="footer_place">Украина, г.Винница</p>
      <p class="footer_place">ул. Соборная, дом 51</p>
      <p class="designer">Design by Alex Pronin</p>
    </div>
    <div class="vertical_line"></div>
    <div class="footer_left">
      <div class="top">
        <h3 class="footer_title">Популярные категории</h3>
        <p class="footer_list">Зарядные устройства</p>
        <p class="footer_list">Газовые горелки</p>
        <p class="footer_list">Фонари</p>
        <p class="footer_list">Палатки</p>
        <p class="footer_list">Страховочные системы</p>
      </div>
      <div class="low">
        <h3 class="footer_title">
          <!--dropdown-->
        <!--</h3>
      </div>
    </div>
    <div class="footer_center">
      <h3 class="footer_title">Сервисы и помощь</h3>
      <p class="footer_list">Оплата и доставка</p>
      <p class="footer_list">Материлы и технологии</p>
      <p class="footer_list">Условия возврата и гарантия</p>
    </div>
    <div class="footer_right">
      <h3 class="footer_title">о компании</h3>
      <p class="footer_list">О нас</p>
      <p class="footer_list">Партнерам</p>
      <p class="footer_list">Бренды</p>
      <p class="footer_list">Контакты</p>
    </div>
    <div class="footer_social">
      <p class="footer_facebook"></p>
      <p class="footer_youtube"></p>
      <p class="footer_twitter"></p>
      <p class="footer_instagram"></p>
    </div>
  </footer>
</div> -->