<div class="dropdowns">
  <ul class="menu">
    <li><div class="dropdown">
      <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
        Туризм и активный отдых
      </button>
      <div class="dropdown-menu">
        <h5 class="dropdown-header">Туризм</h5>
        <a class="dropdown-item" href="#">Палатки и тенты</a>
        <a class="dropdown-item" href="#">Спальные мешки</a>
        <a class="dropdown-item" href="#">Коврики</a>
        <a class="dropdown-item" href="#">Рюкзаки</a>
        <a class="dropdown-item" href="#">Трекинговые палки</a>
        <a class="dropdown-item" href="#">Аксессуары</a>
        <a class="dropdown-item" href="#">Средства ухода</a>
        <!-- <h5 class="dropdown-header">Dropdown header</h5>
        <a class="dropdown-item" href="#">Another link</a> -->
      </div>
    </div></li>
    <li>
      <div class="dropdown">
        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
          одежда и обувь
        </button>
      </div>
    </li>
    <li>
      <div class="dropdown">
        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
          Велотуризм
        </button>
      </div>
    </li>
    <li>
      <div class="dropdown">
        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
          Водный туризм
        </button>
      </div>
    </li>
    <li>
      <div class="dropdown">
        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
          Зимний спорт
        </button>
      </div>
    </li>
  </ul>
</div>
